.edit {
    z-index: 2;
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 175ms;
    border-radius: var(--rounded-btn, 0.5rem); /* 8px */
    /* height: 16rem; */
    /* width: 26rem; */
    min-height: 16rem;
    font-size: 0.875rem;     /* 14px */;
    line-height: 1.25rem;    /* 20px */;
    line-height: 1em;
    gap: 0.5rem;             /* 8px */;
    font-weight: 600;
    text-decoration-line: none;
    border-width: var(--border-btn, 1px);
    animation: button-pop var(--animation-btn, 0.25s) ease-out;
    text-transform: var(--btn-text-case, uppercase);
    background-color: hsl(var(--b2));
    color: hsl(var(--bc));
    outline-color: hsl(var(--bc) / 1);
}

.edit span:last-child {
    display: none;
}
.edit-primary {
    /* border: 2px dashed hsl(var(--p) / 1); */
    border: 2px dashed hsl(var(--bc) / 0.7);
    color: hsl(var(--bc));
    background-color: transparent;
    font-weight: 600;
    outline-color: hsl(var(--p) / 1);
}
.edit:active {
    background-color: #fff;
}

@media (hover: hover) {
    .edit-primary:hover {
        border: 2px dashed white;
        /* border: 2px dashed hsl(var(--af)); */
        /* border: 2px dashed hsl(var(--p)); */
        color: hsl(var(--nc));
        text-shadow: 1px 1px 1px black;
        background-image: url('https://i.giphy.com/media/62PP2yEIAZF6g/giphy.gif');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-origin: border-box;
        background-color: transparent;
        filter:brightness(1.12);
        filter:contrast(0.9);
        /* height: 12rem;
        width: 12rem; */
    }
}

/* .masonry-grid, .masonry-item, .masonry-column {
    height: calc(100% - 7px);
    max-height: calc(100% - 7px);
    min-height: calc(100% - 7px);;
} */

.radio-tile-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.input-container {
    position: relative;
    height: 4.5rem;
    width: 4.5rem;
    margin: 0.5rem 0.25rem;
    padding: 0rem;
}

.radio-button {
    opacity: 0;
    position: absolute;
}

.radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 85%;
    border: transparent;
    border-radius: var(--rounded-btn, 0.5rem);
    padding: 0.9rem;
    transition: transform 200ms ease;
}
.icon svg {
    fill: hsl(var(--bc) / 0.8);
    width: 1.8rem;
    height: 1.8rem;
}

.radio-tile-label {
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    color: hsl(var(--bc) / 0.8);
    user-select: none;
}
.radio-button:checked + .radio-tile {
    background-color: transparent;
    border: 2px solid hsl(var(--p) / 1);
    color: hsl(var(--p) / 1);
    transform: scale(1.1, 1.1);
    transition: transform 200ms ease;
}

.radio-button:checked + .radio-tile .icon svg {
    fill: hsl(var(--p) / 1);
    background-color: transparent;
}

.radio-button:checked + .radio-tile .radio-tile-label {
    color: hsl(var(--p) / 1);
    background-color: transparent;
}
