html, body {
    overflow-x: hidden;
}

/* Set the size of the div element that contains the map */
#map {
    height: 50rem;
    width: 75%;
    font-weight: 600;
}
.gm-style, .gm-style .gm-style-iw {
    background-color: hsl(var(--b1));
}
.gm-style .gm-style-iw-c {
    padding: 1px;
}
div.gm-style-iw-d {
    padding: 8px;
    color: hsl(var(--bc));
}
.gm-style .gm-iw {
    color: hsl(var(--bc));
    background-color: hsl(var(--b1));
}
.gm-style .gm-style-iw-d::-webkit-scrollbar-track, .gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece, .gm-style .gm-style-iw-tc::after {
    background: hsl(var(--b1));
}
.gm-ui-hover-effect {
    opacity: 1;
}
div.address-line.full-width, div.title.full-width, div.gm-iw {
    background-color: hsl(var(--b1));
    color: hsl(var(--bc));
}
div.view-link, div.view-link a, div.gm-style-iw-d div {
    background-color: hsl(var(--b1));
}
/* Close X */
.gm-ui-hover-effect>span {
    pointer-events: none;
    display: block;
    width: 14px;
    height: 14px;
    margin: 8px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='w-6 h-6 fill-base-content'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z' /%3E%3Cpath d='M0 0h24v24H0z' fill='none' /%3E%3C/svg%3E");
    background-color: hsl(var(--bc));
}

/* Prevent broken image thumbnails */
img[src=""],
img:not([src]) {
    visibility: hidden;
}

.form-input, .auth-input {
    width: 100%;
    border-radius: var(--rounded-btn, 0.5rem);
}
.form-input {
    color: hsl(var(--bc) / 0.9);
}
.auth-input {
    color: hsl(var(--bc));
    font-weight: 500;
}
.form-input, .invite-search {
    background-color: transparent;
    border-color: hsl(var(--bc));
}
.auth-input {
    background-color: hsl(var(--b1));
}
.form-input:focus::placeholder, .invite-search:focus::placeholder {
    color: transparent;
}
.form-input::placeholder, .invite-search::placeholder {
    color: hsl(var(--nc) / 0.8);
    font-size: small;
}
.form-input:focus, .auth-input:focus, .invite-search:focus {
    background-color: hsl(var(--b1));
    color: hsl(var(--bc) / var(--tw-text-opacity));
    border-color: hsl(var(--p));
}
.form-input:focus, .invite-search:focus {
    caret-color: hsl(var(--af)/0.85);
}
.auth-input:focus {
    caret-color: hsl(var(--pf)/0.85);
}
.form-input:hover, .auth-input:hover, .invite-search:hover {
    color: hsl(var(--bc) / var(--tw-text-opacity));
    border-color: hsl(var(--p));
    filter:brightness(1.2);
}
.form-input:hover, .invite-search:hover {
    background-color: hsl(var(--p) / 0.3);
}

.inputshake {
    animation: justshake 0.3s forwards;
}
@keyframes justshake {
    25% {
    transform: translateX(5px);
    }
    50% {
    transform: translateX(-5px);
    }
    75% {
    transform: translateX(5px);
    }
    100% {
    transform: translateX-(5px);
    }
}


/* AVATAR ICON SLIDER */
.iconDiv {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    height: 34px; width: 34px;
    border-radius: 9999px;
    cursor: pointer;
    color: hsl(var(--nc));
    transition: width 150ms ease-in-out 0s;
}
.iconDiv:hover, .iconDiv:focus-visible {
    width: 140px;
    background-color: transparent;
    transition: width 150ms ease-in-out 0s;
}

.iconDiv::after {
    content: attr(tooltip);
    font-weight: 550;
    margin-left: 14px;
    margin-right: 12px;
    padding-bottom: 1.5px;
    animation: fadeIn 150ms linear forwards;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.query-container {
    position: relative;
}

.query-container svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.search {
    width: 10rem;
    border-radius: var(--rounded-btn, 0.5rem);
    border-color: hsl(var(--bc));
    transition: all .2s ease-in-out;
    outline: none;
}
.search:focus {
    opacity: 1;
    width: 15rem;
}

.invite-search {
    color: hsl(var(--bc) / 0.9);
    border-radius: var(--rounded-btn, 0.5rem);
    transition: all .2s ease-in-out;
}
.invite-search:focus {
    width: 23.5rem;
    opacity: 1;
}


.con-hint, .event-card {
    display: inline-block;
    vertical-align: bottom;
    color: hsl(var(--af));
    font-weight: 400;
    /* width: 100%; */
    position: relative;
    cursor: default;
    transition: all 0.25s ease-in-out; /* Hint container move speed */
}

.con-hint span {
    align-items: end;
    color: hsl(var(--bc)/0.8);
    font-weight: 600;
    padding: 0; margin: 0;
}

.hint {
    visibility: hidden;
    z-index: 1;
    opacity: 0.8;
    /* color: hsl(var(--af)); */
    /* font-weight: 400; */
    font-size: 0.9rem;
    transition: all 0s ease-in-out; /* Hint fade speed */
    position: absolute;
    /* width: 45%; */
}

.con-hint:hover .hint {
    opacity: 1;
    visibility: visible;
    animation: nudge 0.45s ease-in-out infinite alternate; /* Hint animation effect speed */
    position: absolute;
}

.con-hint:focus-within .hint {
    opacity: 1;
    visibility: visible;
    animation: nudge 0.45s ease-in-out infinite alternate;
    position: absolute;
}

@keyframes nudge {
    0% { transform: translateY(6px); }
    100% { transform: translateY(1px); }
}

/* Hover shift direction */
.left:hover, .top:hover, .bottom:hover {transform: translateX(-12px); }
.right:hover { transform: translateX(12px); }
/* .top:hover {transform: translateY(-12px); }
.bottom:hover {transform: translateY(12px); }
.right:hover {transform: translateX(12px); } */

.top .hint, .top-none .hint { top:-1.8rem; left:0.3rem; }
.bottom .hint { bottom: 52%; left:1.5%; }
.left .hint { top:15%; left:-6.8rem; text-align:right; width:100px;}
.right .hint { top:21%; right:-6rem; text-align:left;}

.event-card .hint, .event-delete .hint {
    top: -160%; left:-80%;
    font-size: 0.75rem;
}


@media (max-width: 640px) {
    /* Disable animation and reposition for max-sm screens */
    .con-hint:hover:not(.top-none) .hint,
    .con-hint:focus-within:not(.top-none) .hint {
        opacity: 1;
        visibility: visible;
        animation: none; /* Disable animation */
        transform: none; /* Remove position adjustments */
        position: relative; /* Reset position */
    }

    /* Reset hover shift direction for max-sm screens */
    .left:hover, .bottom:hover, .right:hover, .top:hover {
        transform: none;
    }

    /* Reset hint position for max-sm screens */
    .top .hint, .bottom .hint, .left .hint, .right .hint,
    .event-card .hint {
        top: auto;
        left: auto;
        text-align: left;
    }
    /* .top-none .hint {
        top: -1rem; left:0;
    } */
}

.menu :where(li ul):before {
    width: 0px;
}


.categorytext {
    font-size: 0.6rem;
}


section {
    position: relative;
    z-index: 0; /* needed for setting pseudo-element z-index */
    overflow: hidden;
    backface-visibility: hidden;
}
section a {
    position: relative;
    display: inline-block;
    outline: none;
    color: hsl(var(--p));
    vertical-align: bottom;
    text-decoration: none;
    white-space: nowrap;
    line-height: 1.8;
}
section a::before, section a::after {
    pointer-events: none;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.link-svgline a svg.link-svgline {
    position: absolute;
    top: 100%;
    left: 0;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 20px;
    transition: stroke-dashoffset 0.3s ease-in-out;
    transform: translateY(-77%);
    fill: none;
    stroke: hsl(var(--p));
    stroke-width: 2;
    stroke-dasharray: 400px;
    stroke-dashoffset: 400px;
}

.link-svgline a:hover svg.link-svgline {
    stroke-dashoffset: 0px;
}
.link-svgmarker a svg.link-svgline {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 60px;
    opacity: 0.5;
    transition: stroke-dashoffset 0.3s ease-in-out;
    transform: translateY(-100%);
    fill: none;
    stroke: hsl(var(--p));
    stroke-width: 36;
    stroke-dasharray: 400px;
    stroke-dashoffset: 400px;
}
.link-svgmarker a:hover svg.link-svgline {
    stroke-dashoffset: 0px;
}

#checklist {
    --background: none;
    --text: hsl(var(--bc) / var(--tw-text-opacity));
    --check: hsl(var(--p));
    --disabled: hsl(var(--bc) / 0.6);
    --width: fit-content;
    --height: 30px;
    --border-radius: 10px;
    background: var(--background);
    width: var(--width);
    height: var(--height);
    border-radius: var(--rounded-btn, 0.5rem);
    position: relative;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    /* padding: 10px 10px; */
    /* justify-content: start; */
    /* grid-gap: 20px; */
    /* box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05); */
}

#checklist label {
    color: var(--text);
    position: relative;
    cursor: pointer;
    display: grid;
    align-items: center;
    width: fit-content;
    transition: color 0.3s ease;
    margin-right: 20px;
}

#checklist label::before,
#checklist label::after {
    content: "";
    position: absolute;
}

#checklist label::before {
    height: 2px;
    width: 8px;
    left: -27px;
    background: var(--check);
    border-radius: 2px;
    transition: background 0.3s ease;
}

#checklist label:after {
    height: 4px;
    width: 4px;
    top: 8px;
    left: -25px;
    border-radius: 50%;
}

#checklist input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: 15px;
    width: 15px;
    outline: none;
    border: 0;
    margin: 0 15px 0 0;
    cursor: pointer;
    background: var(--background);
    display: grid;
    align-items: center;
    margin-right: 15px;
}

#checklist input[type="checkbox"]::before,
#checklist input[type="checkbox"]::after {
    content: "";
    position: absolute;
    height: 2px;
    top: auto;
    background: var(--check);
    border-radius: 2px;
}

#checklist input[type="checkbox"]::before {
    width: 0px;
    right: 60%;
    transform-origin: right bottom;
}

#checklist input[type="checkbox"]::after {
    width: 0px;
    left: 40%;
    transform-origin: left bottom;
}

#checklist input[type="checkbox"]:checked::before {
    animation: check-01 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked::after {
    animation: check-02 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked + label {
    color: var(--disabled);
    animation: move 0.3s ease 0.1s forwards;
}

#checklist input[type="checkbox"]:checked + label::before {
    background: var(--disabled);
    animation: slice 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked + label::after {
    animation: firework 0.5s ease forwards 0.1s;
}

@keyframes move {
    50% { padding-left: 8px; padding-right: 0px; }
    100% { padding-right: 4px; }
}

@keyframes slice {
    60% { width: 100%; left: 4px; }
    100% { width: 100%; left: -2px; padding-left: 0; }
}

@keyframes check-01 {
    0% { width: 4px; top: auto; transform: rotate(0);}
    50% { width: 0px; top: auto; transform: rotate(0); }
    51% { width: 0px; top: 8px; transform: rotate(45deg); }
    100% { width: 5px; top: 8px; transform: rotate(45deg); }
}

@keyframes check-02 {
    0% { width: 4px; top: auto; transform: rotate(0); }
    50% { width: 0px; top: auto; transform: rotate(0); }
    51% { width: 0px; top: 8px; transform: rotate(-45deg); }
    100% { width: 10px; top: 8px; transform: rotate(-45deg); }
}

@keyframes firework {
    0% { opacity: 1;
    box-shadow: 0 0 0 -2px hsl(var(--p)), 0 0 0 -2px hsl(var(--p)), 0 0 0 -2px hsl(var(--p)), 0 0 0 -2px hsl(var(--p)), 0 0 0 -2px hsl(var(--p)), 0 0 0 -2px hsl(var(--p));
    }
    30% { opacity: 1; }
    100% { opacity: 0;
    box-shadow: 0 -15px 0 0px hsl(var(--p)), 14px -8px 0 0px hsl(var(--p)), 14px 8px 0 0px hsl(var(--p)), 0 15px 0 0px hsl(var(--p)), -14px 8px 0 0px hsl(var(--p)), -14px -8px 0 0px hsl(var(--p));
    }
}
