html, body {
    overflow-x: hidden;
}

/* Prevent broken image thumbnails */
img[src=""],
img:not([src]) {
    visibility: hidden;
}

.form-input, .auth-input {
    width: 100%;
    color: hsl(var(--bc) / 0.9);
    border-radius: var(--rounded-btn, 0.5rem);
}
.form-input, .invite-search {
    background-color: transparent;
    border-color: hsl(var(--bc));
}
.auth-input {
    background-color: hsl(var(--b1));
}
.form-input:focus::placeholder, .invite-search:focus::placeholder {
    color: transparent;
}
.form-input::placeholder, .invite-search::placeholder {
    color: hsl(var(--bc) / 0.8);
    font-size: small;
}
.form-input:focus, .auth-input:focus, .invite-search:focus {
    background-color: hsl(var(--b1));
    color: hsl(var(--bc) / var(--tw-text-opacity));
    border-color: hsl(var(--p));
}
.form-input:focus, .invite-search:focus {
    caret-color: hsl(var(--af)/0.85);
}
.auth-input:focus {
    caret-color: hsl(var(--pf)/0.85);
}
.form-input:hover, .auth-input:hover, .invite-search:hover {
    color: hsl(var(--bc) / var(--tw-text-opacity));
    border-color: hsl(var(--p));
    filter:brightness(1.2);
}
.form-input:hover, .invite-search:hover {
    background-color: hsl(var(--p) / 0.3);
}

.inputshake {
    animation: justshake 0.3s forwards;
}
@keyframes justshake {
    25% {
    transform: translateX(5px);
    }
    50% {
    transform: translateX(-5px);
    }
    75% {
    transform: translateX(5px);
    }
    100% {
    transform: translateX-(5px);
    }
}


/* AVATAR ICON SLIDER */
.iconDiv {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    height: 34px; width: 34px;
    border-radius: 9999px;
    cursor: pointer;
    color: hsl(var(--nc));
    transition: width 150ms ease-in-out 0s;
}
.iconDiv:hover, .iconDiv:focus-visible {
    width: 140px;
    background-color: transparent;
    transition: width 150ms ease-in-out 0s;
}

.iconDiv::after {
    content: attr(tooltip);
    font-weight: 550;
    margin-left: 14px;
    margin-right: 12px;
    padding-bottom: 1.5px;
    animation: fadeIn 150ms linear forwards;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.query-container {
    position: relative;
}

.query-container svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.search {
    width: 10rem;
    border-radius: var(--rounded-btn, 0.5rem);
    border-color: hsl(var(--bc));
    transition: all .2s ease-in-out;
    outline: none;
}
.search:focus {
    opacity: 1;
    width: 15rem;
}

.invite-search {
    color: hsl(var(--bc) / 0.9);
    border-radius: var(--rounded-btn, 0.5rem);
    transition: all .2s ease-in-out;
}
.invite-search:focus {
    width: 23.5rem;
    opacity: 1;
}


.con-hint, .event-card {
    display: inline-block;
    vertical-align: bottom;
    color: hsl(var(--af));
    font-weight: 400;
    /* width: 100%; */
    position: relative;
    cursor: default;
    transition: all 0.25s ease-in-out; /* Hint container move speed */
}

.con-hint span {
    align-items: end;
    color: hsl(var(--bc)/0.8);
    font-weight: 600;
    padding: 0; margin: 0;
}

.hint {
    visibility: hidden;
    z-index: 1;
    opacity: 0.8;
    /* color: hsl(var(--af)); */
    /* font-weight: 400; */
    font-size: 0.9rem;
    transition: all 0s ease-in-out; /* Hint fade speed */
    position: absolute;
    /* width: 45%; */
}

.con-hint:hover .hint {
    opacity: 1;
    visibility: visible;
    animation: nudge 0.45s ease-in-out infinite alternate; /* Hint animation effect speed */
    position: absolute;
}

.con-hint:focus-within .hint {
    opacity: 1;
    visibility: visible;
    animation: nudge 0.45s ease-in-out infinite alternate;
    position: absolute;
}

@keyframes nudge {
    0% { transform: translateY(6px); }
    100% { transform: translateY(1px); }
}

/* Hover shift direction */
.left:hover, .top:hover, .bottom:hover {transform: translateX(-12px); }
.right:hover { transform: translateX(12px); }
/* .top:hover {transform: translateY(-12px); }
.bottom:hover {transform: translateY(12px); }
.right:hover {transform: translateX(12px); } */

.top .hint, .top-none .hint { top:-1.8rem; left:0.3rem; }
.bottom .hint { bottom: 52%; left:1.5%; }
.left .hint { top:15%; left:-6.8rem; text-align:right; width:100px;}
.right .hint { top:21%; right:-6rem; text-align:left;}

.event-card .hint, .event-delete .hint {
    top: -160%; left:-80%;
    font-size: 0.75rem;
}


@media (max-width: 640px) {
    /* Disable animation and reposition for max-sm screens */
    .con-hint:hover:not(.top-none) .hint,
    .con-hint:focus-within:not(.top-none) .hint {
        opacity: 1;
        visibility: visible;
        animation: none; /* Disable animation */
        transform: none; /* Remove position adjustments */
        position: relative; /* Reset position */
    }

    /* Reset hover shift direction for max-sm screens */
    .left:hover, .bottom:hover, .right:hover, .top:hover {
        transform: none;
    }

    /* Reset hint position for max-sm screens */
    .top .hint, .bottom .hint, .left .hint, .right .hint,
    .event-card .hint {
        top: auto;
        left: auto;
        text-align: left;
    }
    /* .top-none .hint {
        top: -1rem; left:0;
    } */
}

.menu :where(li ul):before {
    width: 0px;
}


.categorytext {
    font-size: 0.6rem;
}


section {
    position: relative;
    z-index: 0; /* needed for setting pseudo-element z-index */
    overflow: hidden;
    backface-visibility: hidden;
}
section a {
    position: relative;
    display: inline-block;
    outline: none;
    color: hsl(var(--p));
    vertical-align: bottom;
    text-decoration: none;
    white-space: nowrap;
    line-height: 1.8;
}
section a::before, section a::after {
    pointer-events: none;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.link-svgline a svg.link-svgline {
    position: absolute;
    top: 100%;
    left: 0;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 20px;
    transition: stroke-dashoffset 0.3s ease-in-out;
    transform: translateY(-77%);
    fill: none;
    stroke: hsl(var(--p));
    stroke-width: 2;
    stroke-dasharray: 400px;
    stroke-dashoffset: 400px;
}

.link-svgline a:hover svg.link-svgline {
    stroke-dashoffset: 0px;
}
.link-svgmarker a svg.link-svgline {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    overflow: hidden;
    margin: 0;
    width: 100%;
    height: 60px;
    opacity: 0.5;
    transition: stroke-dashoffset 0.3s ease-in-out;
    transform: translateY(-100%);
    fill: none;
    stroke: hsl(var(--p));
    stroke-width: 36;
    stroke-dasharray: 400px;
    stroke-dashoffset: 400px;
}
.link-svgmarker a:hover svg.link-svgline {
    stroke-dashoffset: 0px;
}


button.parrot-btn {
    background: transparent;
    color: #fff;
    border: none;
    border-radius: 50px;
    /* padding: 2rem 2rem; */
    font: 18px "Margarine", sans-serif;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
    letter-spacing: 2px;
}
.div-parrot .parrot {
    position: absolute;
    width: 60px;
    text-align: center;
    animation: blink 0.8s infinite;
    color: transparent;
}
.div-parrot .parrot:before {
    content: "Click Me!";
}


.div-parrot .parrot:nth-child(1) {
    top: -30px;
    left: -40px;
    font: 12px/1 "Margarine", sans-serif;
    transform: rotate(-20deg);
    animation-duration: 0.5s;
}

.div-parrot .parrot:nth-child(2) {
    font: 12px/1 "Margarine", sans-serif;
    right: -40px;
    top: -20px;
    transform: rotate(15deg);
    animation-duration: 0.3s;
}

.div-parrot .parrot:nth-child(3) {
    font: 16px/1 "Margarine", sans-serif;
    top: -60px;
    left: 15px;
    transform: rotate(10deg);
    animation-duration: 1s;
}

.div-parrot .parrot:nth-child(4) {
    font: 18px/1 "Margarine", sans-serif;
    top: -70px;
    left: 95px;
    transform: rotate(2deg);
    animation-duration: 0.7s;
}

.div-parrot .parrot:nth-child(5) {
    font: 14px/1 "Margarine", sans-serif;
    top: 80px;
    left: 105px;
    transform: rotate(-20deg);
    animation-duration: 0.8s;
}

.div-parrot .parrot:nth-child(6) {
    font: 12px/1 "Margarine", sans-serif;
    top: 80px;
    left: 5px;
    transform: rotate(10deg);
    animation-duration: 1.2s;
}

.div-parrot button:hover .parrot:before {
    content: "Do it!";
    width: 70px;
}

@keyframes blink {
    25%, 75% {
    color: transparent;
    }

    40%, 60% {
    color: hsl(var(--p));
    }
}
