body {
    overflow-x: hidden;
}

.form-input {
    width: 100%;
    color: hsl(var(--bc) / 0.8);
    background-color: transparent;
    border-color: hsl(var(--bc));
    border-radius: var(--rounded-btn, 0.5rem);
}
.form-input:focus::placeholder {
    color: transparent;
}
.form-input::placeholder {
    color: hsl(var(--bc) / 0.8);
    font-size: small;
}
.form-input:focus {
    background-color: hsl(var(--b1) / 1);
    color: hsl(var(--bc) / var(--tw-text-opacity));
    border-color: hsl(var(--p));
    caret-color: hsl(var(--pf));
}
.form-input:hover {
    background-color: hsl(var(--p) / 0.3);
    color: hsl(var(--bc) / var(--tw-text-opacity));
    border-color: hsl(var(--p));
    filter:brightness(1.2);
}


/* AVATAR ICON SLIDER */
.iconDiv {
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    /* margin-left: 4px; */
    /* padding: 4px; */
    /* white-space: nowrap; */
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    height: 34px; width: 34px;
    border-radius: 9999px;
    cursor: pointer;
    color: hsl(var(--nc) / 0.8);
    transition: width 300ms ease-in-out 0s, background-color 300ms linear 200ms;
}
.iconDiv:hover, .iconDiv:focus-visible {
    width: 140px;
    /* background-color: rgb(51 65 85); */
    background-color: hsl(var(--pf) / 0.45);
    transition: width 300ms ease-in-out 0s, background-color 100ms linear 0s;
}
/* .iconDiv:focus-visible {
    outline: 1px solid rgb(51 65 85);
    outline-offset: 4px;
} */
.iconDiv:active {
    opacity: 0.9;
}

.iconDiv::after {
    content: attr(tooltip);
    margin-left: 14px;
    margin-right: 12px;
    padding-bottom: 1.5px;
    animation: fadeIn 600ms linear forwards;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
